@import 'antd/dist/antd.css';

.TitleBox{
    display: flex;
    width: 90%;
    height: 8%;
    position: relative;
    align-items: left;
}
.DesBox{
    font-family: "SF Pro Display";
    display: flex;
    width: 101%;
    height: 100%;
    position: relative;
    align-items: left;
}
.InputTxt{
    font-family: "SF Pro Display";
    font-weight: bold;
    font-size: 15px;
}

.Button1{
    position:absolute;
    right: 320px;
    bottom: 140px;
}
.Button2{
    position:absolute;
    right: 332px;
    bottom: 100px;
}